*{
    margin: 0px;
    padding: 15px;
    }


@font-face {
    font-family: 'KiwiSoda';
    src: url('KiwiSoda.woff2') format('woff2'),
         url('KiwiSoda.ttf') format('truetype');
    font-weight: normal;
    font-style: cursive;
}

 body{
       background-image: url("noisss.jpg");
       background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
     height: 1080px;
       font-family: KiwiSoda;
       font-size: 28px;
        color: #422008;
       margin-top: 1px;
       text-align: justify;
 }
 #container{
        background-image: url("ana.png");
         height: 1089px;
         width: 990px;
        border: 2px solid #333;
         border-radius: 15px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
     max-width: 1200px;
  margin-left: auto; 
  margin-right: auto;
  padding: 0 80px;   
  transition: filter 1s ease;
 }	

 #container:hover {
    filter: brightness(1.2) opacity(0.5);
}
 
 h1{
     font-weight:bold;
     color: #006400;
     
     margin-bottom: 10px;
 }
      h5 {
    margin: 0;
    padding: 0;
    display: inline-block;
}    
 #footer{
     text-align:center;
     color:	#FF8C00;
         letter-spacing: 4px;
     margin-top: 10px;
        font-size: 25px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.7);
     
        padding: 0px;
        border-radius: 10px;
     }
